/* BANNER START */
.banner {
  height: 392px;
  margin: 30px 0 40px 0;
  background-color: #20a647;
  border-radius: 16px;
}

.banner .banner-block__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 3% 4%;
  height: 100%;
  width: 50%;
}

.banner .banner-block__title h1 {
  font-size: 50px;
  color: #ffffff;
}
.banner-block__title p {
  font-size: 18px;
  color: #ffffff;
}

.banner .banner-block {
  height: 100%;
  background: url(../assets/bannerImg.svg) 100% 100% no-repeat,
    url(../assets/broccoli.svg) 60% 10% no-repeat,
    url(../assets/nuts.svg) 82% 10% no-repeat,
    url(../assets/carrot.svg) 68% 27% no-repeat,
    url(../assets/dish.svg) 53% 80% no-repeat,
    url(../assets/eggplant.svg) 70% 70% no-repeat,
    url(../assets/onion.svg) 78% 97% no-repeat;
}

/* BANNER END */
/* CATEGORIES START */
.categories .categories-body {
  display: flex;
  flex-direction: column;
}

.categories-body .categories-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categories-card {
  width: 20%;
  border-radius: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* CATEGORIES END */
