.productCard {
  background-color: #ffffff00;
  width: 320;
  border-radius: 50px;
}

.productCards__body {
  display: flex;
  flex-direction: row;
  gap: 24px 20px;
}
.ant-card .ant-card-body {
  padding: 8px 0 0 0;
  background-color: #ffffff00;
  border: none;
}

.productCard-like {
  position: absolute;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  left: 255px;
}

.productCard-like .productCard-like__icon {
  font-size: 24px;
}
