.discoint-message {
  background-color: #8d7b7b;
  color: #ffffff;
}
.discoint-message__body {
  display: flex;
  flex: 3;
  justify-content: space-between;
  align-items: center;
}

.discoint-message__body .message-block {
  display: flex;
  align-items: center;
  gap: 0 5px;
}

.discoint-message__body .message-block span {
  font-weight: 100;
}
.discoint-message__body .message-block p {
  background-color: #ffffff;
  color: black;
  padding: 4px 5px;
  border-radius: 20px;
  font-weight: 500;
}

.discoint-message__body .button-block {
  display: flex;
  align-items: center;
}

.button-block .button-block__languages {
  display: flex;
  gap: 0 5px;
}
